body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif;
    -webkit-tap-highlight-color: transparent; /* apparently does not work with Firefox mobile */
}

.warning {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    background:white;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Adapted from https://stackoverflow.com/a/16243163 */

.button,
.selectable-button label,
.selectable-button input {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  border: 1px solid black;
  padding: 0;
  cursor: pointer;
  background: #E6E6EA;
  transition-duration: 0.15s;
}

.selectable-button input[type="radio"],
.selectable-button input[type="checkbox"] {
  display: none;
}

.button:hover,
.selectable-button label:hover {
  border: 1px solid white;
}

.selectable-button input[type="radio"]:checked + label,
.selectable-button input[type="checkbox"]:checked + label {
  background: #CDCDD6;
}

.square-button,
.square label,
.square input {
  width: 100px;
  height: 100px;
}

.thin-button,
.thin label,
.thin input {
  width: 100px;
  height: 50px;
}

.long-button,
.long label,
.long input {
  width: 200px;
  height: 50px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: none;
}

.atomLabel {
  font-weight: normal !important;
  font-size: 48px !important;
}

#single {
  top: 20px;
  left: 20px;
}

#double {
  top: 20px;
  left: 140px;
}

#triple {
  top: 20px;
  left: 260px;
}

#carbon {
  top: 20px;
  left: 380px;
}

#oxygen {
  top: 20px;
  left: 500px;
}

#nitrogen {
  top: 20px;
  left: 620px;
}

#bromine {
  top: 20px;
  left: 740px;
}

#chlorine {
  top: 20px;
  left: 860px;
}

#freeform {
  top: 20px;
  right: 20px;
}

#snap {
  top: 20px;
  right: 140px;
}

#clear {
  top: 20px;
  right: 260px;
}

#random {
  top: 20px;
  right: 380px;
}

#hackerman {
  top: 20px;
  right: 500px;
}

#sn-e {
  bottom: 20px;
  left: 20px;
}

#alkene-addition {
  bottom: 20px;
  left: 240px;
}
#ring-metathesis {
  bottom: 70px;
  left: 240px;
}
#hbr-addition {
  bottom: 120px;
  left: 240px;
}
#radical-hbr {
  bottom: 170px;
  left: 240px;
}
#halogenation {
  bottom: 220px;
  left: 240px;
}
#halohydrin-formation {
  bottom: 270px;
  left: 240px;
}
#hydrogenation {
  bottom: 320px;
  left: 240px;
}
#cis-hydrogenation {
  bottom: 370px;
  left: 240px;
}
#trans-hydrogenation {
  bottom: 420px;
  left: 240px;
}
#cyclopropanation {
  bottom: 470px;
  left: 240px;
}

#alkene-oxidation {
  bottom: 20px;
  left: 460px;
}
#acid-hydration {
  bottom: 70px;
  left: 460px;
}
#oxymercuration {
  bottom: 120px;
  left: 460px;
}
#hydroboration {
  bottom: 170px;
  left: 460px;
}
#alkyne-hydration {
  bottom: 220px;
  left: 460px;
}
#alkyne-hydroboration {
  bottom: 270px;
  left: 460px;
}
#epoxidation {
  bottom: 320px;
  left: 460px;
}
#dihydroxylation {
  bottom: 370px;
  left: 460px;
}
#wacker-oxidation {
  bottom: 420px;
  left: 460px;
}
#ozonolysis {
  bottom: 470px;
  left: 460px;
}
#oxidative-cleavage {
  bottom: 520px;
  left: 460px;
}

#alcohol-reactions {
  bottom: 20px;
  left: 680px;
}
#gringard-formation {
  bottom: 70px;
  left: 680px;
}
#organolithiate-formation {
  bottom: 120px;
  left: 680px;
}
#organocopper-formation {
  bottom: 170px;
  left: 680px;
}
#dehydration {
  bottom: 220px;
  left: 680px;
}
#weak-reduction {
  bottom: 270px;
  left: 680px;
}
#strong-reduction {
  bottom: 320px;
  left: 680px;
}
#weak-oxidation {
  bottom: 370px;
  left: 680px;
}
#jones-oxidation {
  bottom: 420px;
  left: 680px;
}
#bromination {
  bottom: 470px;
  left: 680px;
}
#chlorination {
  bottom: 520px;
  left: 680px;
}
#tosylation {
  bottom: 570px;
  left: 680px;
}
#hydroxyl-protection {
  bottom: 620px;
  left: 680px;
}
#hydroxyl-unprotection {
  bottom: 670px;
  left: 680px;
}